---
layout: default
---

<header class="py-3 bg-brand text-white" role="banner">
  <div class="container">
    <h2 class="mb-0 font-weight-black display-4 text-balance mt-2">
      {{ page.description }}
    </h2>
    {% if site.github.is_project_page %}
      <a href="{{ site.github.repository_url }}" class="btn btn-secondary mt-4">View on GitHub</a>
    {% endif %}
  </div>
</header>
<main role="main">
  <section class="p-3 mb-5 bg-white">
    <div class="container">
      {{ content }}
    </div>
  </section>
</main>
